* {
    box-sizing: border-box;
}
html, body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    background-color: #1c2f2f;
    color: antiquewhite;
    font-size: 1em;
    font-family: 'Open+Sans', sans-serif;
}
  
/* header element at top of page */
.header {
    width: 100%;
    text-align: center;
    font-family: 'Cinzel', serif;
}
/* header heading text formatting */
.header h1{
    font-size: 5vw;
    margin: 0vw;
}
.header h4 {
    font-size: 2vw;
    margin: 0vw;
    margin-bottom: 1vw;
}
.header a{
    text-decoration: none;
    color: antiquewhite;
}
/* nav bar below header */
.nav {
    overflow: hidden;
}
/* nav bar links */
.nav a {
    color: antiquewhite;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 2vw;
    width: 25%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    float: left;
}
/* hav bar links hover behavior */
.nav a:hover {
    background-color: #213737;
}
.nav a:active {
    background-color: #263f3f;
}
.nav .current {
    background-color: #263f3f;
}



/* Main content area */
/* .main{

} */
.columnNarrow {
    width: 15%;
    float: left;
    min-height: 70vh;
    flex: 1 0 auto;
}
/* Main content area */
.columnWide {
    padding: 2vw;
    width: 70%;
    float: left;
    background-color:antiquewhite;
    color: #132020;
    border-radius: 5px;
    min-height: 70vh;
    flex: 1 0 auto;
    text-align: center;
}
.column50 {
    padding: 5vw;
    width: 50%;
    float: left;
    text-align: center;
}
.row:after {
    content: "";   
     display: table;
     clear:both;
 }
/* Wrapper for embeded content */
.wrapper {
    width: 90%;
    margin: 3vw;
}
.menu-title {
    color: #263f3f;
    margin-top: 1vw;
    margin-bottom: 0vw;
    
}
.menu-details {
    margin-top: 0.2vw;
}
.list {
    text-align: left;
    display: inline-block;
}

/* Footer element at bottom of screen */
.footer {
    width: 100%;
    display: block;
    color: antiquewhite;
    padding-top: 1vw;
    text-align: center;
    flex-shrink: 0;
    font-size: .75em;
}
.footer a {
    color: antiquewhite;
}

/* Mobile friendly changes */
@media screen and (max-width: 600px) {
    .header h1{
        font-size: 10vw;
    }
    .header h4{
        font-size: 3vw;
    }
    .nav a {
      width: 100%;
      font-size: 4vw;
    }
    .columnNarrow {
        width: 3%;
    }
    .columnWide {
        width: 94%;
        padding: 3vw;
    }
    .column50 {
        width: 100%;
    }
  }